*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-family: 'Merriweather', serif;
}

body{
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;

}

img{
    width: 100%;
}

.img-logo{
    max-width: 7rem;
    border-radius: 200px;
    border: 0.3rem solid rgb(240, 16, 16);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #264653;
    

}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 5rem;

}

.nav-list li a{
    text-decoration: none;
    color: #f9f5f5;
    font-weight: bold;
    font-size: 1.2rem;
}

.abrir-menu,
.cerrar-menu  {
    display: none;

}



.caja-container.container{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.container{

    height: 30rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: #FFFFFF;
    background-image: linear-gradient(0deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
    gap: 2px;

    
}

.motos{
    margin-top: 1rem;
    margin-left: 5rem;
    max-width: 22rem;
    animation-name: mover ;
    animation-duration: 1.5s ;
}

.banner{
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-left: 0.4rem;
    animation-name: mover ;
    animation-duration: 2.5s;
    color: #09203f;
    text-align: left;
    font-weight: bold;
}

.banner-2{
    font-size: 1.7rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    animation-name: mover ;
    animation-duration: 3.5s; 
    color: #09203f;
    text-align: center;
    font-weight: bold;
}

.floor{
    background-color: rgb(7, 7, 6);
}

h6{
    color: rgb(248, 245, 245);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    
}




@keyframes polygon-in-opposing-corners {
    from {
    clip-path: polygon(0 0, 50% 50%, 100% 100%, 50% 50%);
    }
    to {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    }
}

@keyframes wipe-in-left {
    from {
    clip-path: inset(0 0 0 100%);
    }
    to {
    clip-path: inset(0 0 0 0);
    }
}
[transition-style="in:wipe:left"] {
    animation: 6s cubic-bezier(4, 1, .30, 1) wipe-in-left both;
}

@keyframes mover{
    0%{
        transform: translate(0);
    }

    50%{
        transform: translate(125%, 15%);
    }

    75%{
        transform: translate(-600%);
    }

    100%{
        transform: translate(0);
    }
}

@media screen and (max-width: 550px){
    .abrir-menu,
    .cerrar-menu{
    display: block;
    border: 2rem;
    font-size: 1.4rem;
    background-color: transparent;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #2A9D8F;

        padding: .5rem;
        box-shadow: 0 0 0 100vmax black(0, 0, 0, .5);
        opacity: 1;

    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a {
        color: rgb(14, 13, 13);
    }
}

/*Viewport 700px*/

@media screen and (min-width: 700px){
.abrir-menu,
.cerrar-menu{
    display: block;
    border: 2rem;
    font-size: 1.4rem;
    background-color: transparent;
}

.img-logo{
    max-width: 8rem;
    border-radius: 200px;
    border: 0.3rem solid rgb(240, 16, 16);
}




.nav.visible{
    opacity: 1;
    visibility: hidden;
}


.nav-list li a {
    gap: 12rem;
    color: rgb(248, 247, 247);
}

.abrir-menu, .cerrar-menu{
    display: none;
}


}

/* Viewport 1300px*/

@media screen and (min-width: 1300px){
.abrir-menu,
.cerrar-menu{
display: block;
border: 2rem;
font-size: 1.4rem;
background-color: transparent;
}

.img-logo{
    max-width: 12rem;
    border-radius: 200px;
    border: 0.3rem solid rgb(240, 16, 16);
}




.nav.visible{
    opacity: 1;
    visibility: hidden;
}


.nav-list li a {
    font-size: 1.5rem;
    gap: 16rem;
    color: rgb(250, 247, 247);
}

.abrir-menu, .cerrar-menu{
    display: none;
}

}
